@media screen and (max-width: 769px) {
    #section-center {
        .margin-chef {
            margin: 0 80px;
        }
    }
}


// SMARTPHONE
@media screen and (max-width: 500px) {
    #section-center {
        .titre-chef {

            // TITRE-MEET-OUR-CHEF
            .our-chef {
                font-size: 30px;
                margin-bottom: 50px;
            }
        }

        // MARGIN-IMAGES
        .margin-chef {
            margin: 0 10px;

            .row-chefs {
                div {

                    // IMAGES
                    p {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}