// NAV-BAR
nav {

    #navbarSupportedContent {

        div {

            a {
                color: $transparent;

                border-top: solid 1px $transparent;
                border-bottom: solid 1px $transparent;
            }
            a:hover {
                background-color: $redButton;
            }
            
        }
    }
    #logo {
        img {
            width: 100px;        
        }
    }
}

