// NAV-BAR
nav {
    // MENU-A
    #navbarSupportedContent {
        div {

            a {
                color: $transparent;

                border-top: solid 1px $transparent;
                border-bottom: solid 1px $transparent;

                padding: 20px 45px;
            }
            a:hover {
                background-color: $redButton;
            }
            
        }
    }
    // LOGO
    #logo {
        img {
            width: 100px;   
            
            margin: 0 60px;
        }
    }
}

