#section-menu {
    background-image: url(../../../public/img/main_bg.jpg);

    // CONTAINER-CARD
    .menu-card {
        background-color: white;

        border: solid 2px $border;

        width: 75%;
        margin: 0 auto;

        // TITRE-OUR-STORY
        div {
            .our-story {
                font-family: $courgette;
                font-size: 40px;

                p {
                    height: 75px;
                }

                span.word-1 {
                    color: $redButton;

                    font-size: 150%;
                }
            }
        }

        // PARA-OUR-STORY
        .container-p {
            width: 560px;

            margin: 0 auto;

            .text-story {
                font-family: $lato;
            }
        }

        // TITRE-OUR-MENU
        div {
            .our-menu {
                font-family: $courgette;
                font-size: 40px;

                p {
                    height: 75px;
                }

                span.word-2 {
                    color: $redButton;

                    font-size: 150%;
                }
            }
        }

        // MENU
        #menu-list {
            .list-group-item {
                font-family: $courgette;

                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: solid 2px $border;
                border-radius: 0;

                width: 98%;

                // MENU-NAV
                i {
                    color: rgb(200, 200, 200);

                    font-size: 70px;
                }

                h2 {
                    color: black;
                }
            }

            // CARD-MENU
            .list-group-item.active {
                background-color: transparent;

                border-right: solid 5px $redButton;
                border-bottom: solid 2px $border;

                width: 100%;

                i {
                    color: $redButton;

                    font-size: 70px;
                }

                h2 {
                    color: black;
                }
            }

            // CARD-BODY
            .border-menu {
                border-radius: 8px;
                border-left: solid 2px $border;

                padding-top: 25px;

                .card-style {
                    border-radius: 0;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    border-bottom: dotted 2px $border;

                    padding-bottom: 10px;

                    img {
                        width: 120px;

                        border: solid 8px $border;
                        border-radius: 100%;
                    }
                }

                // PRIX
                .prix-card {
                    font-weight: bold;
                    font-size: 20px;

                    background-color: $border;
                    color: $redButton;

                    padding: 0 15px;
                    margin-left: 30px;
                }
            }
        }
    }
}