#section-contact {
    background-image: url(../../../public/img/main_bg.jpg);

    .titre-contact {

        .our-contact {
            font-family: $courgette;
            font-size: 40px;
            margin-bottom: 100px;

            p {
                height: 75px;
            }
            span.word-1 {
                color: $redButton;

                font-size: 150%;
            } 
        }
    }
    .box-contact {
        background-color: $redButton;
        color: white;

        text-align: center;

        width: 24%;
        
        margin: 0 auto;
        padding: 40px 25px 20px;

        border-radius: 20px 20px 20px 20px;

        .localisation {
            i {
                font-size: 320%;
            }
        }
        .phone {
            border-top: solid 1px rgba(255, 255, 255, 0.4);
            border-bottom: solid 1px rgba(255, 255, 255, 0.4);

            i {
                font-size: 320%;

                margin-top: 20px;
            }
        }
        .message {
            i {
                font-size: 320%;

                margin-top: 20px;
            }
        }
    }
}