#section-header {
        background-image: url(../../../public/img/banner1.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        

    .bg-carousel {
        background-color: rgba(0, 0, 0, 0.8);

        #carouselExampleIndicators {
            padding-top: 370px;
            padding-bottom: 370px;

            ol {
                #rond-indicator {
                    border-radius: 100%;
                    width: 15px;
                    height: 15px;
                }
                #rond-indicator.active {}
            }
            .titre-header {
                font-family: $courgette;
                font-size: 70px;
                line-height: 90px;

                color: white;
                filter: brightness(85%);
                
                span.word-1 {
                    font-size: 150%;
                }
                span.word-2 {
                    color: #B12A3A;

                    font-size: 150%;
                }
                span.word-3 {
                    font-size: 150%;
                }
                span.word-4 {
                    font-size: 150%;
                }
            }
            div {
                .button-1 {
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    background-color: white;

                    border-radius: 40px;

                    margin-top: 50px;
                }
                .button-2 {
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    background-color: $redButton;
                    color: white;

                    border-radius: 40px;

                    margin-top: 50px;
                }
            }
        }
    }
    .banderole {
        background-image: url(../../../public/img/bottom_decoration_img.png);
        background-color: rgba(0, 0, 0, 0.8);;
        background-repeat: repeat-x;

    }
}